{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            Войти
                        </button>
                    </form>
                    <p>Создать аккаунт <a href="{% url 'users:register' %}">Зарегистрироваться</a></p>
                    <p>Забыли пароль? <a href="{% url 'users:password_reset' %}">Восстановить пароль</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}