{% extends 'catalog/base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-12">
            <p>
                <a href="{% url 'blogs:blogs_list' %}?pub=True" class="btn btn-primary my-2">Опубликованные
                    блоги</a>
                <a href="{% url 'blogs:blogs_list' %}?pub=False" class="btn btn-primary my-2">Все
                    блоги</a>

            </p>
        </div>
    </div>
    <div class="col-12">
        <div class="btn-group">
            <a class="btn btn-primary my-2" href="{% url 'blogs:blogs_create' %}" role="button">Добавить
                новый блог</a>
        </div>
    </div>
    <div class="row mb-2">
    {% for object in object_list %}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{ object }}</h3>
                <p class="card-text">
                    {% if object.is_published %}
                    {{ object|title }}
                    {% else %}
                    <span class="text-muted">{{ object|title }}</span>
                    {% endif %}
                </p>
                <div class="mb-1 text-muted">{{ object.created_at }}</div>
                <p class="card-text mb-auto">{{ object.content }}</p>
                <div class="mb-1 text-muted">Просмотров: {{ object.count_views }}</div>
                <div class="button-group">
                    <a class="btn btn-link" href="{% url 'blogs:blogs_detail' object.pk %}" role="button">Открыть</a>
                    <a class="btn btn-link" href="{% url 'blogs:blogs_update' object.pk %}" role="button">Редактировать</a>
                    <a class="btn btn-link" href="{% url 'blogs:blogs_delete' object.pk %}" role="button">Удалить</a>
                    {% if object.is_published %}
                        <a href="{% url 'blogs:toggle_published' object.pk %}">Снять с публикации</a>
                    {% else %}
                        <a href="{% url 'blogs:toggle_published' object.pk %}">Опубликовать</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</main>
{% endblock %}